<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <h1>Users list</h1>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Aadhar</th>
        <th>Birth date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.name %></th>
          <th><%= user.aadhar %></th>
          <th><%= user.bdate %></th>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center"><%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>  </div>
