<p id="notice"><%= notice %></p>
<div class="col-md-12">
  <p>Name: <%= @user.name %></p>
  <p>Aadhar: <%= @user.aadhar %></p>
  <p>Birth Date: <%= @user.bdate %></p>
  <p><%= link_to 'Back', users_path, class: "btn btn-primary" %></p>	
</div>

